<a href="https://colab.research.google.com/github/Ausawin2016/30Daypy/blob/master/%235_Assigment2_%E0%B8%AD%E0%B8%B1%E0%B8%A8%E0%B8%A7%E0%B8%B4%E0%B8%99_%E0%B9%80%E0%B8%AD%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A1%E0%B8%AA%E0%B8%B0%E0%B8%AD%E0%B8%B2%E0%B8%94COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CSSE COVID-19 Dataset

##เป็นข้อมูลสรุปรายงานการติดเชื้อ COVID-19 จากทั่วโลกตั้งแต่วันที่ 22 มกราคม 2020 ถึง 12 เมษายน 2020


ประกอบด้วยไฟล์

*   time_series_covid19_confirmed_global.csv
*   time_series_covid19_deaths_global.csv
*   time_series_covid19_recovered_global.csv

##Field description
* **Province/State**: China - province name; US/Canada/Australia/ - city name, state/province name; Others - name of the event (e.g., "Diamond Princess" cruise ship); other countries - blank.
* **Country/Region**: country/region name conforming to WHO (will be updated).
* **Confirmed**: the number of confirmed cases(accumulated).
* **Deaths**: the number of deaths(accumulated).
* **Recovered**: the number of recovered cases(accumulated).

**จากไฟล์จงทำการเขียนโปรแกรมเพื่อตอบคำถามต่อไปนี้**
1.   จงแสดงอัตราการรักษาหายของเฉพาะผู้ป่วยในสหภาพยุโรปเป็นเปอร์เซ็นต์
2.   จงหา Country/Region ที่มียอดจำนวนผู้ติดเชื้อล่าสุดมากที่สุด 10 อันดับพร้อมพล็อตกราฟแสดงจำนวนผู้ติดเชื้อของแต่ละ Country/Region โดยเรียงลำดับจากมากไปน้อย (ไม่ต้องแยกเป็น Province/State)
3.   จงพล็อตกราฟเส้นเพื่อแสดง trend ยอดผู้ติดเชื้อในประเทศไทยในแต่ละสัปดาห์(กำหนดให้นับข้อมูลทุกวันอาทิตย์)
4.   จงหายอดผู้ติดเชื้อของ**แต่ละวัน**บนเรือไดม่อนพริ้นเซสพร้อมพล็อตกราฟ แล้วระบุวันที่มีการติดเชื้อมากที่สุด
5.   จงหา Country/Region ที่ล่าสุดมีเปอร์เซ็นต์อัตราการเสียชีวิตมากที่สุด 20 อันดับ พร้อมระบุว่า จาก Country/Region ในกลุ่มดังกล่าว ส่วนใหญ่อยู่ในทวีปอะไร
6.   จงหายอดผู้ป่วยที่กำลังรักษาตัวล่าสุด (สมมติว่ายังไม่เสียชีวิตหรือหายดี) ของแต่ละ Province/State ในประเทศจีน พร้อมพล็อตกราฟแสดงจำนวนในแต่ละ Province/State

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

import ipywidgets  as  widgets
from  ipywidgets import interact,interactive, fixed, interact_manual

%matplotlib inline
%config InlineBackend.figure_format='retina'
pd.Timestamp.now()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Timestamp('2020-07-18 09:11:42.784120')

In [3]:
import warnings as wn
wn.filterwarnings('ignore')

#Read Data from **colab drive** 

---

In [6]:
#Solution

from google.colab import  files
files.upload()

Saving TIME_S~3.CSV to TIME_S~3.CSV

{'TIME_S~3.CSV': b'Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20\n,Afghanistan,33.0,65.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,5,5,10,10,10,15,18,18,29,32,32,32,32\n,Albania,41.1533,20.1683,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,10,17,17,31,31,33,44,52,67,76,89,99,104,116,131,154,165,182,197,217\n,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,8,12,12,12,12,12,32,32,32,65,65,24,65,29,29,31,31,37,46,61,61,62,90,90,90,113,237,347,405,460,591\n,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,10,10,10,10,16,21,26,31,39,52,58,71,71,128\n,Angola,-11.2027,17.8739,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,2,2,2,4,4\n,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0\n,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,3,3,3,3,3,3,3,52,52,63,72,72,72,228,240,248,256,266,279,280,325,338,358,365,375,440,468\n,Armenia,40.0691,45.0382,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,2,2,14,16,18,28,30,30,30,30,31,33,43,43,57,62,87,114,138,149,173,197\nAustralian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,2,3,8,11,18,18,28,40,40,40,47,59,59,59\nNew South Wales,Australia,-33.8688,151.2093,0,0,0,0,0,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4\nNorthern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,2,2,2,2,2\nQueensland,Australia,-28.0167,153.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,173,173,173,345,372,372,372\nSouth Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,3,6,6,6,6,6,6,6,6,6,46,46,46,53,53,53,120,179,179,179\nTasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,3,3,3,3,3,3,3,5,5,5,5,5,5,5,5,5,26,26,26,48,48,48,48\nVictoria,Australia,-37.8136,144.9631,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,7,7,7,7,7,7,7,7,8,8,8,8,8,8,8,8,8,70,70,97,97,149,171,191,191,191,291,343,422,476,527,573,620,620,620,736,926,926,926\nWestern Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,28,28,41,41,48,64,92,92,92,162,162,162,170,203,216,216\n,Austria,47.5162,14.5501,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,4,4,6,6,6,6,1,9,9,9,9,9,9,9,9,112,225,225,479,636,1095,1436,1749,2022,2507,2998,3463,4046,4512,5240,6064,6604,6987\n,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,3,3,6,6,6,6,6,6,11,10,10,10,10,15,15,15,15,26,26,26,26,32,32,32,44,44,63,101,159,200,250\n,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,0,0,4,5,5,5,5,5,5\n,Bahrain,26.0275,50.55,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4,4,14,22,35,35,44,44,60,77,81,88,100,100,125,149,149,177,177,204,227,265,272,279,295,337,381,382,423,431,458,458,477,519,539,555,558\n,Bangladesh,23.685,90.3563,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,3,3,3,3,3,3,3,5,7,11,11,15,15,19,25,25,25,26,30,33,33,33,33,33,33,36,39\n,Barbados,13.1939,-59.5432,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,6,6,8,11,11,11,11\n,Belarus,53.7098,27.9534,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,3,3,3,3,3,3,3,5,5,5,15,15,15,22,29,29,32,32,32,32,47,53,53,53,53,52,53,54,77,139,169,172,203\n,Belgium,50.8333,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,31,31,1,263,263,263,461,547,675,858,1063,1359,1527,1696,2132,2495,2872,3247,3751,3986,4157,4681,5164,5568,5986,6463\n,Belize,13.1939,-59.5432,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0\n,Benin,9.3077,2.3158,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,2,2,5,5,5,5,5,5,5,5\n,Bhutan,27.5142,90.4336,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2,2,2,2,2,2,2,2,2\n,Bolivia,-16.2902,-63.5887,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,2,2,2,2\n,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,2,2,2,2,2,2,2,5,5,8,17,17,19,20,27,30,30,47,68,79,101,129,139,193\n,Brazil,-14.235,-51.9253,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2,2,2,2,2,2,2,2,6,6,6,6,120,127,127,127,127,127,127,127,127,127,173,173,173,173\n,Brunei,4.5353,114.7277,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2,2,2,2,5,11,25,34,38,45,52,56,65,66,73,82,85,91,92,99,104,106\n,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,3,3,4,8,9,11,14,17,17,20,25,30,34,37,39,42,42,48,54,62,68\n,Burkina Faso,12.2383,-1.5616,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5,7,10,10,12,21,23,31,32,46,50,50,66,90,108,127,134,146,146,155,161\n,Cabo Verde,16.5388,-23.0418,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1\n,Cambodia,11.55,104.9167,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,10,10,11,13,21,21,23,25,34,35,50,50,53,58,63,62,72,75,77\n,Cameroon,3.848,11.5021,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,2,5,5,5,10,10,17,17,17,17,43,60,60,98,98,98\n,Canada,56.1304,-106.3468,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,3,3,3,3,3,3,6,6,6,6,6,6,6,6,6,8,8,8,8,8,8,8,8,8,9,9,9,9,9,10,10,10,110,183,184,256,466,466,466,1592,1324,1735,2175,2577,3012,3256,3791,4154,5162,5855,6589,7123\n,Central African Republic,6.6111,20.9394,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0\n,Chad,15.4542,18.7322,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,2,2,2\n,Chile,-35.6751,-71.543,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,6,8,8,17,22,22,43,61,75,156,156,234,335,427,528,618,728,898,1115,1274,1571,1864,2059\nAnhui,China,31.8257,117.2264,0,0,0,0,0,0,0,2,2,3,5,7,14,20,23,34,47,59,72,88,105,127,157,193,221,255,280,361,413,474,539,597,637,663,712,744,792,821,868,873,917,936,956,970,979,979,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984,984\nBeijing,China,40.1824,116.4142,0,0,1,2,2,2,4,4,4,5,9,9,12,23,24,31,33,34,37,44,48,56,69,80,98,108,114,122,145,153,169,178,189,198,215,235,248,257,271,276,282,288,297,297,299,303,308,315,320,326,334,342,349,353,360,369,378,380,390,396,400,400,401,403,406,408,410,412,415,418,418,424,434,438,441,443,448,455,464,469,474,479\nChongqing,China,30.0572,107.874,0,0,0,0,0,0,0,1,1,1,3,7,9,9,15,24,31,39,51,66,79,102,128,152,184,207,225,254,274,299,316,328,335,349,372,384,401,422,438,450,469,490,502,512,513,526,527,542,547,554,564,566,569,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570,570\nFujian,China,26.0789,117.9874,0,0,0,0,0,0,0,0,0,0,0,0,1,3,11,14,20,24,35,39,45,53,57,63,71,82,90,93,112,126,149,162,170,183,199,218,228,235,243,247,255,260,270,277,284,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,298,299,300,301,303,305,305,308,308,311,317,321\nGansu,China,37.8099,101.0583,0,0,0,0,0,0,0,0,0,0,0,3,3,4,6,6,9,12,16,17,24,31,39,39,49,54,58,62,65,71,76,76,78,80,80,81,81,82,82,84,85,86,87,87,87,87,87,88,88,88,88,88,89,91,91,91,91,91,98,113,114,114,119,119,121,123,125,125,125,125,127,127,127,131,131,132,132,133,135,135,135,135\nGuangdong,China,23.3417,113.4244,0,2,2,2,2,4,4,5,10,11,14,15,21,30,49,69,88,112,141,167,212,275,314,362,410,465,524,565,606,642,690,728,755,786,822,851,890,935,983,1016,1059,1101,1133,1181,1216,1237,1256,1260,1274,1282,1289,1296,1299,1304,1306,1307,1313,1318,1323,1325,1329,1332,1333,1336,1336,1337,1341,1349,1351,1356,1357,1365,1368,1378,1387,1395,1401,1411,1423,1434,1437,1443\nGuangxi,China,23.8298,108.7881,0,0,0,0,0,0,2,2,2,2,2,2,7,10,13,14,17,17,18,24,33,32,33,36,44,49,53,69,86,90,97,104,106,112,134,147,161,168,176,181,192,202,210,214,217,218,223,230,234,238,241,243,243,243,248,248,250,250,250,250,250,250,250,250,250,250,250,250,250,250,250,252,252,252,252,252,252,252,252,252,252,252\nGuizhou,China,26.8154,106.8748,0,0,0,0,0,0,0,1,1,2,2,2,2,2,9,6,6,7,7,10,17,18,27,28,41,46,57,66,70,72,77,90,102,102,104,104,112,112,112,112,114,114,114,114,114,115,117,123,129,133,137,140,143,143,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144\nHainan,China,19.1959,109.7453,0,0,0,0,0,0,0,0,1,1,1,4,4,5,5,8,10,14,19,19,20,27,30,43,39,52,59,79,84,86,95,104,106,116,124,129,131,133,148,149,151,155,158,158,158,158,159,159,159,159,160,160,160,160,161,161,161,161,161,161,161,161,168,168,168,168,168,168,168,168,168,162,162,162,162,162,162,162,162,162,162,162\nHebei,China,39.549,116.1306,0,0,0,0,0,0,0,0,0,0,0,3,3,4,6,13,22,30,34,41,48,54,68,87,101,105,122,136,152,169,184,203,219,234,248,261,274,277,282,294,296,300,301,304,305,307,307,307,307,307,308,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,310,312,312,313,313,313,313\nHeilongjiang,China,47.862,127.7615,0,0,0,0,0,0,0,0,0,0,2,2,2,4,7,8,12,13,14,30,28,31,33,47,68,79,85,111,120,136,175,204,222,227,243,249,270,283,301,342,356,366,373,379,396,403,412,430,434,436,441,446,447,453,455,456,459,460,463,463,466,465,468,468,469,469,469,469,469,469,469,469,469,469,469,469,469,470,470,470,470,470\nHenan,China,33.882,113.614,0,0,0,0,0,0,0,1,2,3,3,10,16,27,47,56,86,116,153,191,218,246,296,357,391,440,509,522,573,637,736,830,868,943,1002,1033,1068,1112,1170,1198,1205,1231,1234,1239,1244,1244,1247,1247,1247,1249,1249,1249,1250,1250,1250,1250,1250,1250,1250,1250,1250,1250,1250,1250,1250,1250,1251,1251,1251,1251,1251,1251,1251,1251,1251,1252,1252,1252,1252,1252,1252,1253\nHong Kong,China,22.3,114.2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,5,6,5,6,11,19,19,24,24,30,33,36,36,37,37,43,46,51,58,59,65,65,67,77,78,81,84,88,92,95,98,98,100,100,101,102,110,110,112,112,123,128,147,147,173,173,206,216,216,264,293,309,336,360\nHubei,China,30.9756,112.2707,28,28,31,32,42,45,80,88,90,141,168,295,386,522,633,817,1115,1439,1795,2222,2639,2686,3459,4774,5623,6639,7862,9128,10337,11788,11881,15299,15343,16748,18971,20969,23383,26403,28993,31536,33934,36208,38557,40592,42033,43500,45235,46488,47743,49134,50318,51553,52960,54288,55142,56003,56927,57682,58382,58946,59433,59879,60324,60811,61201,61732,62098,62570,62889,63153,63326,63471,63612,63762,63945,64014,64073,64142,64187,64236,64264,64281\nHunan,China,27.6104,111.7088,0,0,0,0,0,0,0,0,2,2,8,16,22,31,54,81,112,156,186,208,247,304,339,364,425,464,498,527,561,634,661,692,714,731,768,783,804,830,846,866,887,906,916,938,955,960,968,979,990,995,999,1005,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014\nInner Mongolia,China,44.0935,113.9448,0,0,0,0,0,0,0,0,0,1,1,1,1,1,3,4,5,5,5,5,5,6,6,6,7,8,8,8,10,16,17,26,27,34,35,38,43,45,49,52,54,59,63,65,65,67,70,70,70,71,71,71,71,71,73,73,73,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,79,79,79,83\nJiangsu,China,32.9711,119.455,0,0,0,1,1,1,1,1,1,5,6,7,8,12,23,34,43,51,71,81,93,125,139,157,186,218,258,280,318,356,373,401,418,452,458,478,498,515,523,536,543,562,577,583,594,606,612,621,627,627,629,630,630,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,632,632,633,633,633,633,633,634,636,638\nJiangxi,China,27.614,115.7221,0,0,0,0,0,2,3,3,5,7,9,12,18,20,27,37,45,55,73,105,128,152,170,187,210,240,275,310,362,433,489,555,613,645,683,719,754,790,811,831,850,870,884,901,909,916,919,923,927,932,934,934,934,934,934,934,934,934,934,934,934,934,934,934,934,934,934,934,935,935,935,935,935,935,935,935,935,935,935,936,936,936\nJilin,China,43.6661,126.1923,0,0,0,0,0,0,0,0,1,1,1,1,1,1,2,4,4,4,12,13,18,22,24,25,26,30,34,36,37,43,45,52,54,60,63,65,67,73,75,78,83,83,86,88,90,90,90,91,91,91,91,91,91,91,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,93,93,95,96,96\nLiaoning,China,41.2956,122.6085,0,0,0,0,0,0,0,1,1,1,1,1,1,2,4,5,7,8,12,13,19,20,22,29,31,40,43,53,55,59,61,66,73,80,83,88,93,93,96,103,103,106,106,106,106,107,109,109,111,111,112,112,113,114,115,120,122,122,122,122,124,124,124,124,124,124,124,124,124,124,124,124,124,125,126,128,130,131,132,132,133,136\nMacau,China,22.1667,113.55,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,2,3,3,3,5,5,5,5,6,6,6,6,6,7,7,8,8,8,8,8,9,9,9,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,13\nNingxia,China,37.2692,106.1655,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,5,15,13,13,22,24,24,24,33,33,35,42,42,44,48,48,56,58,61,65,68,68,69,69,69,69,69,69,71,71,71,71,71,72,72,72,73,73,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75\nQinghai,China,35.7452,95.9956,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,3,3,3,3,5,9,11,11,13,13,13,15,16,16,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18\nShaanxi,China,35.1917,108.8701,0,0,0,0,0,0,0,0,0,0,0,0,0,2,6,9,17,20,25,30,32,43,46,54,60,71,79,89,102,118,134,149,163,173,186,192,195,199,207,208,216,216,223,224,226,226,227,227,227,232,232,232,232,232,233,236,237,237,237,239,239,239,240,240,242,242,242,242,242,242,242,242,244,245,245,246,246,246,246,246,248,248\nShandong,China,36.3427,118.1498,0,0,0,0,0,0,0,1,1,2,3,6,7,11,15,27,37,44,63,66,80,92,105,136,156,173,191,211,231,254,281,302,321,343,355,377,387,405,421,443,460,511,516,578,618,627,642,700,719,726,734,739,741,741,746,746,746,747,748,749,750,751,752,752,752,752,752,752,753,753,753,753,754,755,755,755,755,755,756,756,757,757\nShanghai,China,31.202,121.4491,0,0,1,1,1,3,4,5,5,9,10,10,10,12,15,25,30,41,44,48,52,57,62,90,124,140,161,177,186,199,211,227,249,261,268,272,276,279,287,290,292,294,298,303,306,313,314,315,319,320,321,324,324,324,325,325,326,326,326,327,328,329,330,330,331,334,334,334,338,341,341,343,348,356,383,389,406,418,422,435,438,446\nShanxi,China,37.5777,112.2922,0,0,0,0,0,0,0,1,1,1,1,3,2,4,5,12,15,21,25,25,30,33,36,38,46,50,53,61,68,76,78,81,88,94,98,104,107,112,114,116,119,124,124,126,126,126,126,127,131,131,132,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,134,134,134,135,135\nSichuan,China,30.6171,102.7103,0,0,0,0,0,0,0,1,1,1,3,11,14,14,24,31,42,60,71,80,85,92,104,114,119,131,156,169,188,217,231,250,261,276,289,307,321,338,351,365,386,394,406,425,442,454,464,466,478,488,498,503,511,516,516,520,525,536,536,536,536,536,536,536,536,536,536,536,536,536,537,537,537,538,539,540,541,541,541,546,547,547\nTianjin,China,39.3054,117.323,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,2,2,4,4,8,10,11,21,31,37,45,46,48,54,59,62,65,81,87,91,96,102,102,109,111,111,124,124,128,128,128,128,130,131,131,132,132,132,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,135,135,135,140,144,144,144,151,152,152,158,161,161\nTibet,China,31.6927,88.0924,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1\nXinjiang,China,41.1129,85.2401,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,6,6,10,12,12,12,20,22,24,25,28,30,30,34,43,52,62,64,66,68,69,70,71,72,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73\nYunnan,China,24.974,101.487,0,0,0,0,0,0,0,0,0,1,2,3,5,5,5,7,12,17,18,19,20,26,27,36,42,42,47,57,60,79,96,107,115,124,129,144,150,156,157,163,168,169,169,169,170,170,170,170,170,170,170,170,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,173,173,173,173,174,174\nZhejiang,China,29.1832,120.0934,0,0,1,1,1,1,3,3,4,14,21,32,43,62,78,94,123,175,201,242,270,321,360,403,428,456,507,535,604,633,679,719,760,782,808,867,932,975,1016,1046,1069,1093,1114,1124,1147,1154,1161,1176,1191,1195,1197,1197,1211,1211,1216,1216,1216,1217,1219,1219,1219,1221,1221,1221,1222,1222,1225,1225,1225,1226,1226,1228,1228,1229,1230,1230,1230,1232,1235,1235,1236,1238\n,Colombia,4.5709,-74.2973,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,3,3,6,8,8,10,10,10,15,31,39,55,55,85,88,88,100,123,174,197,214,270\n,Congo (Brazzaville),-4.0383,21.7587,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,2,2,2,2,5,5,5,5\n,Congo (Kinshasa),-4.0383,21.7587,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,

In [8]:
path='/content/TIME_S~'
status = ['confirmed','deaths','recovered']
dfs = []

for s in status:
  d = pd.read_csv(f'{path}{s}.CSV')
  dfs.append(d)

dfs

[                Province/State         Country/Region  ...  4/11/20  4/12/20
 0                          NaN            Afghanistan  ...      555      607
 1                          NaN                Albania  ...      433      446
 2                          NaN                Algeria  ...     1825     1914
 3                          NaN                Andorra  ...      601      638
 4                          NaN                 Angola  ...       19       19
 ..                         ...                    ...  ...      ...      ...
 259  Saint Pierre and Miquelon                 France  ...        1        1
 260                        NaN            South Sudan  ...        4        4
 261                        NaN         Western Sahara  ...        4        6
 262                        NaN  Sao Tome and Principe  ...        4        4
 263                        NaN                  Yemen  ...        1        1

 [264 rows x 86 columns],
                 Province/State         Country/Region  ...  4/11/20  4/12/20
 0                          NaN            Afghanistan  ...       18       18
 1                          NaN                Albania  ...       23       23
 2                          NaN                Algeria  ...      275      293
 3                          NaN                Andorra  ...       26       29
 4                          NaN                 Angola  ...        2        2
 ..                         ...                    ...  ...      ...      ...
 259  Saint Pierre and Miquelon                 France  ...        0        0
 260                        NaN            South Sudan  ...        0        0
 261                        NaN         Western Sahara  ...        0        0
 262                        NaN  Sao Tome and Principe  ...        0        0
 263                        NaN                  Yemen  ...        0        0

 [264 rows x 86 columns],
                 Province/State         Country/Region  ...  4/11/20  4/12/20
 0                          NaN            Afghanistan  ...       32       32
 1                          NaN                Albania  ...      197      217
 2                          NaN                Algeria  ...      460      591
 3                          NaN                Andorra  ...       71      128
 4                          NaN                 Angola  ...        4        4
 ..                         ...                    ...  ...      ...      ...
 245  Saint Pierre and Miquelon                 France  ...        0        0
 246                        NaN            South Sudan  ...        0        0
 247                        NaN         Western Sahara  ...        0        0
 248                        NaN  Sao Tome and Principe  ...        0        0
 249                        NaN                  Yemen  ...        0        0

 [250 rows x 86 columns]]

In [9]:
#appednd data สร้าง cloumn(key) status และรวม 3 datafram เข้ากัน
df = pd.concat(dfs, keys=status)
df

                          Province/State  ... 4/12/20
confirmed 0                          NaN  ...     607
          1                          NaN  ...     446
          2                          NaN  ...    1914
          3                          NaN  ...     638
          4                          NaN  ...      19
...                                  ...  ...     ...
recovered 245  Saint Pierre and Miquelon  ...       0
          246                        NaN  ...       0
          247                        NaN  ...       0
          248                        NaN  ...       0
          249                        NaN  ...       0

[778 rows x 86 columns]

In [10]:
df.loc['confirmed']

                Province/State         Country/Region  ...  4/11/20  4/12/20
0                          NaN            Afghanistan  ...      555      607
1                          NaN                Albania  ...      433      446
2                          NaN                Algeria  ...     1825     1914
3                          NaN                Andorra  ...      601      638
4                          NaN                 Angola  ...       19       19
..                         ...                    ...  ...      ...      ...
259  Saint Pierre and Miquelon                 France  ...        1        1
260                        NaN            South Sudan  ...        4        4
261                        NaN         Western Sahara  ...        4        6
262                        NaN  Sao Tome and Principe  ...        4        4
263                        NaN                  Yemen  ...        1        1

[264 rows x 86 columns]

In [11]:
pd.melt(df.loc['confirmed'],
                       id_vars=['Province/State','Country/Region','Lat','Long'],
                       var_name='Date', value_name='confirmed')

                  Province/State         Country/Region  ...     Date  confirmed
0                            NaN            Afghanistan  ...  1/22/20          0
1                            NaN                Albania  ...  1/22/20          0
2                            NaN                Algeria  ...  1/22/20          0
3                            NaN                Andorra  ...  1/22/20          0
4                            NaN                 Angola  ...  1/22/20          0
...                          ...                    ...  ...      ...        ...
21643  Saint Pierre and Miquelon                 France  ...  4/12/20          1
21644                        NaN            South Sudan  ...  4/12/20          4
21645                        NaN         Western Sahara  ...  4/12/20          6
21646                        NaN  Sao Tome and Principe  ...  4/12/20          4
21647                        NaN                  Yemen  ...  4/12/20          1

[21648 rows x 6 columns]

In [12]:
#Upivot/melt Data แปลง datafram จาก wide format เป็น long format เพื่อนำมาทำ grahp

dtmps = []
for k in status:
  dtmps.append(pd.melt(df.loc[k],
                       id_vars=['Province/State','Country/Region','Lat','Long'],
                       var_name='Date', value_name=k))

In [13]:
dtmps

[                  Province/State         Country/Region  ...     Date  confirmed
 0                            NaN            Afghanistan  ...  1/22/20          0
 1                            NaN                Albania  ...  1/22/20          0
 2                            NaN                Algeria  ...  1/22/20          0
 3                            NaN                Andorra  ...  1/22/20          0
 4                            NaN                 Angola  ...  1/22/20          0
 ...                          ...                    ...  ...      ...        ...
 21643  Saint Pierre and Miquelon                 France  ...  4/12/20          1
 21644                        NaN            South Sudan  ...  4/12/20          4
 21645                        NaN         Western Sahara  ...  4/12/20          6
 21646                        NaN  Sao Tome and Principe  ...  4/12/20          4
 21647                        NaN                  Yemen  ...  4/12/20          1

 [21648 rows x 6 columns],
                   Province/State         Country/Region  ...     Date  deaths
 0                            NaN            Afghanistan  ...  1/22/20       0
 1                            NaN                Albania  ...  1/22/20       0
 2                            NaN                Algeria  ...  1/22/20       0
 3                            NaN                Andorra  ...  1/22/20       0
 4                            NaN                 Angola  ...  1/22/20       0
 ...                          ...                    ...  ...      ...     ...
 21643  Saint Pierre and Miquelon                 France  ...  4/12/20       0
 21644                        NaN            South Sudan  ...  4/12/20       0
 21645                        NaN         Western Sahara  ...  4/12/20       0
 21646                        NaN  Sao Tome and Principe  ...  4/12/20       0
 21647                        NaN                  Yemen  ...  4/12/20       0

 [21648 rows x 6 columns],
                   Province/State         Country/Region  ...     Date  recovered
 0                            NaN            Afghanistan  ...  1/22/20          0
 1                            NaN                Albania  ...  1/22/20          0
 2                            NaN                Algeria  ...  1/22/20          0
 3                            NaN                Andorra  ...  1/22/20          0
 4                            NaN                 Angola  ...  1/22/20          0
 ...                          ...                    ...  ...      ...        ...
 20495  Saint Pierre and Miquelon                 France  ...  4/12/20          0
 20496                        NaN            South Sudan  ...  4/12/20          0
 20497                        NaN         Western Sahara  ...  4/12/20          0
 20498                        NaN  Sao Tome and Principe  ...  4/12/20          0
 20499                        NaN                  Yemen  ...  4/12/20          0

 [20500 rows x 6 columns]]

In [14]:
#concat เป็นการเติม colum เข้าไป
dcovid = pd.concat(dtmps, axis=1)
dcovid
#ต้องทำการ remove duplicate column ออกด้วย

                  Province/State         Country/Region  ...     Date  recovered
0                            NaN            Afghanistan  ...  1/22/20        0.0
1                            NaN                Albania  ...  1/22/20        0.0
2                            NaN                Algeria  ...  1/22/20        0.0
3                            NaN                Andorra  ...  1/22/20        0.0
4                            NaN                 Angola  ...  1/22/20        0.0
...                          ...                    ...  ...      ...        ...
21643  Saint Pierre and Miquelon                 France  ...      NaN        NaN
21644                        NaN            South Sudan  ...      NaN        NaN
21645                        NaN         Western Sahara  ...      NaN        NaN
21646                        NaN  Sao Tome and Principe  ...      NaN        NaN
21647                        NaN                  Yemen  ...      NaN        NaN

[21648 rows x 18 columns]

In [15]:
#remove duplicate column
dcovid.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'confirmed',
       'Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'deaths',
       'Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'recovered'],
      dtype='object')

In [16]:
dcovid.columns.duplicated()

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False])

In [17]:
dcovid = dcovid.loc[:, ~dcovid.columns.duplicated()]
dcovid

                  Province/State         Country/Region  ...  deaths  recovered
0                            NaN            Afghanistan  ...       0        0.0
1                            NaN                Albania  ...       0        0.0
2                            NaN                Algeria  ...       0        0.0
3                            NaN                Andorra  ...       0        0.0
4                            NaN                 Angola  ...       0        0.0
...                          ...                    ...  ...     ...        ...
21643  Saint Pierre and Miquelon                 France  ...       0        NaN
21644                        NaN            South Sudan  ...       0        NaN
21645                        NaN         Western Sahara  ...       0        NaN
21646                        NaN  Sao Tome and Principe  ...       0        NaN
21647                        NaN                  Yemen  ...       0        NaN

[21648 rows x 8 columns]

In [18]:
dcovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21648 entries, 0 to 21647
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  6724 non-null   object
 1   Country/Region  21648 non-null  object
 2   Lat             21648 non-null  float64
 3   Long            21648 non-null  float64
 4   Date            21648 non-null  object
 5   confirmed       21648 non-null  int64
 6   deaths          21648 non-null  int64
 7   recovered       20500 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.3+ MB

In [ ]:
#แปลงวันที่ convert date data type
dcovid['Date']=pd.to_datetime(dcovid['Date'])
dcovid.info()
dcovid.head()

In [ ]:
#จัดเรียง datafram ใหม่
dcovid = dcovid.sort_values(['Country/Region','Province/State','Date']).reset_index(drop=True)
dcovid

In [ ]:
dcovid[dcovid['Country/Region']=='Thailand']

In [ ]:
#Aggrete by country/Region สร้าง datafram ที่ดูระดับประเทศ
dcountry = dcovid.groupby(['Country/Region','Date']).sum()[['confirmed','deaths','recovered']]
dcountry

In [ ]:
dcountry.index


##1.   จงแสดงอัตราการรักษาหายของเฉพาะผู้ป่วยในสหภาพยุโรปเป็นเปอร์เซ็นต์

In [71]:
pip install pycountry_convert

Collecting pycountry_convert
  Downloading https://files.pythonhosted.org/packages/9b/e7/26c14899a43c34e04a58e3772007afe79dbd64fac15d2fbaeedff24082f2/pycountry_convert-0.7.2-py3-none-any.whl
Collecting pytest-mock>=1.6.3
  Downloading https://files.pythonhosted.org/packages/32/fd/52de218c335039f4ac25803101d5c3337c69045c68166b969d85821e49dc/pytest_mock-3.2.0-py3-none-any.whl
Collecting pprintpp>=0.3.0
  Downloading https://files.pythonhosted.org/packages/4e/d1/e4ed95fdd3ef13b78630280d9e9e240aeb65cc7c544ec57106149c3942fb/pprintpp-0.4.0-py2.py3-none-any.whl
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.6/dist-packages (from pycountry_convert) (3.6.4)
Requirement already satisfied: pycountry>=16.11.27.1 in /usr/local/lib/python3.6/dist-packages (from pycountry_convert) (20.7.3)
Collecting pytest-cov>=2.5.1
  Downloading https://files.pythonhosted.org/packages/3d/13/ae3dec587b1cc07fb9f294e52ea9ad140266aea55adb9e12eade3625bd27/pytest_cov-2.10.0-py2.py3-none-any.whl
Collecting repoze.lru>=0.7
  Downloading https://files.pythonhosted.org/packages/b0/30/6cc0c95f0b59ad4b3b9163bff7cdcf793cc96fac64cf398ff26271f5cf5e/repoze.lru-0.7-py3-none-any.whl
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.6/dist-packages (from pycountry_convert) (0.34.2)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (8.4.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.12.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.9.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (49.1.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.4.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (19.3.0)
Collecting coverage>=4.4
  Downloading https://files.pythonhosted.org/packages/db/19/ad8f558e885a11a68111300ee23a632cc46a5ef6aaed875ba56460076fa7/coverage-5.2-cp36-cp36m-manylinux1_x86_64.whl (229kB)
     |████████████████████████████████| 235kB 5.8MB/s
ERROR: datascience 0.10.6 has requirement coverage==3.7.1, but you'll have coverage 5.2 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: coveralls 0.5 has requirement coverage<3.999,>=3.6, but you'll have coverage 5.2 which is incompatible.
ERROR: pytest-cov 2.10.0 has requirement pytest>=4.6, but you'll have pytest 3.6.4 which is incompatible.
Installing collected packages: pytest-mock, pprintpp, coverage, pytest-cov, repoze.lru, pycountry-convert
  Found existing installation: coverage 3.7.1
    Uninstalling coverage-3.7.1:
      Successfully uninstalled coverage-3.7.1
Successfully installed coverage-5.2 pprintpp-0.4.0 pycountry-convert-0.7.2 pytest-cov-2.10.0 pytest-mock-3.2.0 repoze.lru-0.7

In [109]:
import pandas as pd

import pycountry_convert as pc

def country_to_continent(country_name):
 try:
   country_alpha2 = pc.country_name_to_country_alpha2(country_name)
   country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
   country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
   return country_continent_name
 except:
   return 'others'

dcovid_country = dcovid['Country/Region'].to_list()
dcovid_country

continent=[]

for countryName in dcovid_country:
  continent.append(country_to_continent(countryName))

d_con = {'Country/Region': dcovid_country,'Continent':continent}
df_con = pd.DataFrame(d_con)
df_con.head(10)

        Country/Region      Continent
0          Afghanistan           Asia
1              Albania         Europe
2              Algeria         Africa
3              Andorra         Europe
4               Angola         Africa
5  Antigua and Barbuda  North America
6            Argentina  South America
7              Armenia           Asia
8            Australia        Oceania
9            Australia        Oceania

In [110]:
globalCovid = dcovid.merge(df_con, left_index= True, right_index=True)
globalCovid = globalCovid.drop(columns=['Country/Region_y'])
globalCovid
globalCovid.rename(columns={'Country/Region_x':'Country/Region'},inplace=True)
globalCovid

                  Province/State         Country/Region  ...  recovered  Continent
0                            NaN            Afghanistan  ...        0.0       Asia
1                            NaN                Albania  ...        0.0     Europe
2                            NaN                Algeria  ...        0.0     Africa
3                            NaN                Andorra  ...        0.0     Europe
4                            NaN                 Angola  ...        0.0     Africa
...                          ...                    ...  ...        ...        ...
21643  Saint Pierre and Miquelon                 France  ...        NaN     Europe
21644                        NaN            South Sudan  ...        NaN     Africa
21645                        NaN         Western Sahara  ...        NaN     others
21646                        NaN  Sao Tome and Principe  ...        NaN     Africa
21647                        NaN                  Yemen  ...        NaN       Asia

[21648 rows x 9 columns]

In [113]:

#EU_covid
eu = globalCovid[globalCovid['Continent']=='Europe']
eu_c = eu.confirmed.mean()
eu_r = eu.recovered.mean()
 
print(eu_r/eu_c*100)

print('Eu_Rate = %.2f' %(eu_r/eu_c*100),"%")# .2f = กำหนดทศนิยม 2 ตำแหน่ง

13.457475162313528
Eu_Rate = 13.46 %

##2.   จงหา Country/Region ที่มียอดจำนวนผู้ติดเชื้อล่าสุดมากที่สุด 10 อันดับพร้อมพล็อตกราฟแสดงจำนวนผู้ติดเชื้อของแต่ละ Country/Region โดยเรียงลำดับจากมากไปน้อย (ไม่ต้องแยกเป็น Province/State)

In [ ]:
#Solution
#dcountry = dcovid.groupby(['Country/Region','Date']).sum()[['confirmed','deaths','recovered']]
#dcountry
top_confirmed = dcovid.groupby(['Country/Region','confirmed']).sum().reset_index
top_confirmed.sort_values('confirmed',ascending=False,inplace=True)

top_dcountry

##3.   จงพล็อตกราฟเส้นเพื่อแสดง trend ยอดผู้ติดเชื้อในประเทศไทยในแต่ละสัปดาห์(กำหนดให้นับข้อมูลทุกวันอาทิตย์)

In [ ]:
#Solution

##4.   จงหายอดผู้ติดเชื้อของ**แต่ละวัน**บนเรือไดม่อนพริ้นเซสพร้อมพล็อตกราฟ แล้วระบุวันที่มีการติดเชื้อมากที่สุด

In [ ]:
#Solution

##5.   จงหา Country/Region ที่ล่าสุดมีเปอร์เซ็นต์อัตราการเสียชีวิตมากที่สุด 20 อันดับ พร้อมระบุว่า จาก Country/Region ในกลุ่มดังกล่าว ส่วนใหญ่อยู่ในทวีปอะไร

In [ ]:
#Solution

##6.   จงหายอดผู้ป่วยที่กำลังรักษาตัวล่าสุด (สมมติว่ายังไม่เสียชีวิตหรือหายดี) ของแต่ละ Province/State ในประเทศจีน พร้อมพล็อตกราฟแสดงจำนวนในแต่ละ Province/State

In [ ]:
#Solution